# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Folder metadata
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
_version.py

# Dev
.vscode

# Tests
.tox

# Documentation
docs/build/
docs/source/_build

# dotenv
*.env

# Code Examples
examples/generate_preconfig/preconfig_outputs
examples/edgeconnect-telemetry-demo/app/grafana/data
examples/edgeconnect-telemetry-demo/app/influxdb/data
examples/edgeconnect-telemetry-demo/app/influxdb/config
examples/edgeconnect-telemetry-demo/app/redis
examples/edgeconnect-telemetry-demo/app/worker
examples/edgeconnect-telemetry-demo/app/logging/
!example.env

# Virtual Environment
.venv/

# Logging
logging/
*.log



